@import './variables.scss';

nav.horizontal-navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: $primary;
    
    img {
        width: 178px;
    }
    
    div.horizontal-links-container {
        display: flex;

        a {
            text-decoration: none;
            margin-left: 15vw;
            color: $secondary;
        }
    }
}

nav.vertical-navbar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 80px;
    height: 150vh;
    background-color: $primary;
    align-items: center;
    padding-top: 50vh;

    img {
        width: 30px;
        background-color: $secondary;
        padding: 10px;
        border-radius: 6px;
        margin-bottom: 2vh;
    }

    span {
        color: $secondary;
        font-size: 12px;
        margin-top: 50vh;
        transform: rotate(-0.25turn);
        width: 200px;
    }
}